# Take-home Programming Test

# Question 2

**Write a function ‘exists’ which takes a variable symbol v and returns whether v is defined**

what these symbols could be:
* integer
* float
* text
* boolean
* tuple
* list
* dict

the function below does a simple check for the type of the variable. If the type is from the list above, it returns the string defined. If not, it returns undefined.

In [82]:
def exists(v):
    if type(v) in [int, float, str, bool, tuple, list, dict]:
        return 'defined'
    else:
        return 'undefined'

exists(5.6)

'defined'

But this is an 'exhaustive' method. This will not work with self created data structures, for example: something like a linked list.

# Question 3: Pascal's Triangle

The best way to understand Pascal's triangle is by Binomial Theorem: i.e. the coefficients of $(a+b)^n$ gives the $n^{th}$ row of the triangle.

From binomial theorem, $$(a+b)^n = \sum_{r=1}^{n} {n\choose r} a^r b^{n-r}$$

Thus the coefficients are $n\choose r$ for $r = 1,2, \dots n.$

Let's create a function nCr which gives $n\choose r = \frac{n!}{r! (n-r)!}$. Since negative factorial is not defined, $n - r \geq 0$ or $n \geq r$. Thus, we raise a value error if $n \leq r$.

next we define pascal which takes in an integer n, or the number of rows of the pascal's triangle we would like to print. we iterate through $1$ to $(n+1)$ because for the $n$ layers, we have $(n+1)$ rows. Similarly, for the $k^{th}$ row, we have $k+1$ elements.

For each row k, we print ${k\choose r}$ with $r = 0,1,2, \dots k$. This gives us the $k^{th}$ row of the Pascal's Triangle.

print a blank after each row iteration to move to the next line after each $'k'$

Attempt 1

In [20]:
from math import factorial

def nCr(n,r):
    if n < r:
        return ('Value Error. n cannot be lesser than r')
    else:
        return int(factorial(n) / (factorial(r)*factorial(n-r)))


def pascal(n):
    for k in range(n+1):
        for r in range(k+1):
        #print(k)
            print(nCr(k,r), end = " ")
        print()

pascal(5)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1

Pascal's triangle can be looked at as a recursive problem, because if you have the previous row, you take the sum of each pair to get the current row. base case 0 is 1, base case 1 is (1,1). However, the run time for this is going to be much much slower as n increases.

In [52]:
def pascallist(k):
    if k == 0:
        return [1]
    elif k == 1:
        return [1, 1]
    else: 
        l = [1]  
        for i in range(k+1):
            l.append(pascallist(i) + pascallist(i+1))
        l.append(1)        
    
pascallist(2)

RecursionError: maximum recursion depth exceeded in comparison

I tried implementing a recursive pascal's triange but it gives me a maximum recursion depth exceeded for small numbers. I'll just come back to this in a while

# Question 4: Portfolio Optimisation, VaR

**Assume have the following portfolio as of 2016/01/01:** 



**AAPL.O 15%**

**IBM.N 20%**

**GOOG.O 20%** 

**BP.N 15%** 

**XOM.N 10%**

**COST.O 15%** 

**GS.N 5%**


**a. Using historical daily returns (Yahoo/Google Finance or any other market data source), calculate VaR95% and CVaR95% of the portfolio as of 2016/12/31**

In [84]:
import pandas as pd
import pandas_datareader as dr

turns out yahoo finance doesn't read extensions and i'm not sure how to bypass this so I'm going to input the main ticker first: i.e. instead of AAPL.O, i'll use AAPL for now

In [92]:
tickers = ['AAPL', 'IBM', 'GOOG', 'BP', 'XOM', 'COST', 'GS']
l = len(tickers)
priceData = []

for ticker in range(l):
    prices = dr.DataReader(tickers[ticker], start = '2016-01-01', end = '2016-12-31', data_source = 'yahoo')
    priceData.append(prices.assign(ticker=ticker)[['Adj Close']])
dfPrice = pd.concat(priceData, axis = 1)
dfPrice.columns = tickers
dfPrice.dropna()
dfPrice.head()

,AAPL,IBM,GOOG,BP,XOM,COST,GS
Date,,,,,,,
2015-12-31,24.266081,106.805664,758.880005,21.524876,58.759171,142.766663,164.204666
2016-01-04,24.286833,105.509605,741.840027,21.387156,58.389812,141.034027,161.389420
2016-01-05,23.678219,105.432014,742.580017,21.297642,58.887341,141.378769,158.610535
2016-01-06,23.214844,104.904251,743.619995,20.863838,58.397354,140.070480,154.738495
2016-01-07,22.235069,103.111481,726.390015,20.264778,57.462631,136.861542,149.982651

In [95]:
dfReturn = dfPrice.pct_change()
dfReturn.dropna()
dfReturn.head()

,AAPL,IBM,GOOG,BP,XOM,COST,GS
Date,,,,,,,
2015-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-04,0.000855,-0.012135,-0.022454,-0.006398,-0.006286,-0.012136,-0.017145
2016-01-05,-0.025059,-0.000735,0.000998,-0.004185,0.008521,0.002444,-0.017219
2016-01-06,-0.019570,-0.005006,0.001400,-0.020369,-0.008321,-0.009254,-0.024412
2016-01-07,-0.042205,-0.017090,-0.023170,-0.028713,-0.016006,-0.022909,-0.030735

In [98]:
import empyrical

ModuleNotFoundError: No module named 'empyrical'